// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.header {
  font-size: 200%;
}

#sorting {
  padding: 20px;
  margin: 10px;
}

.post_content_box {
  margin: 20px;
}
