// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.header {
  font-size: 200%;
}

#sorting {
  padding: 20px;
  margin: 10px;
}

.post_header input {
  width: 500px;
  height: 20px;
  font-size: 120%;
}

.post_content textarea {
  width: 500px;
  height: 90px;
}

.post {
  margin: 20px;

  fieldset a {
    text-decoration: none;
  }

  fieldset:hover {
    background: #DDD;
  }
}

